
<footer class="footer mt-auto py-3 bg-light">
    <div class="container" class="text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" [routerLink]="['/contacto']">1</a></li>
              <li class="page-item"><a class="page-link" [routerLink]="['/contacto']">2</a></li>
              <li class="page-item"><a class="page-link" [routerLink]="['/contacto']">3</a></li>
              <li class="page-item"><a class="page-link" [routerLink]="['/contacto']">4</a></li>
              <li class="page-item"><a class="page-link" [routerLink]="['/contacto']">5</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>
  </footer>